<footer>
  <section class="footer-1">  	
    <ul>
      <li class="social"><% link_to 'https://github.com/gamboajosephd/' do %> <%= image_tag 'github.png' %> <% end %> </li>
      <li class="social"><% link_to 'https://twitter.com/jofsef/' do %> <%= image_tag 'twitter.png' %> <% end %> </li>
    </ul>
  </section>

  <section class="footer-2">
  	<h3> <%= link_to "&#169 Life Carousel", "/index.html" %> </h3>  	
  </section>
</footer>