<div id="nav-cont">
  <div class="logo-cont"> 
    <a href="/" class="logo">Joseph<span>Gamboa</span></a>        
  </div>     
  <nav>
    <ul>
      <li></li>
      <li><a href="#about">About</a></li>
      <li><a href="#journal">Journal</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav> 
</div>

