---
title: About Me
---

  <div class="post-wrap">
  	<nav>
  	  <ul>
  	  	<li><a href="/">Home</a></li>
  	  	<li><%= link_to "Journal", "/journal.html" %></li>  	  
      </ul>
    </nav>  

    <div id="post-container">
      
      	<h1 id = "about-title">About Me</h1>
      	<div id="about me">
          <p>Hi, my name is Joseph, an aspiring Web Designer/Developer.<br><br>

            I recently started learning Web Development using Rails and its underlying language Ruby, and hope
            that in time I will become good and it. Who knows, I might be able to make some interesting
            Web Applications in the future.<br><br>
            Thank you for visiting my page.<br><br>
            Keep Learning!

          </p>      		
      	</div> 
        <%= disqus %>       
    </div>
  </div>

  <%= partial "partials/footer"%> 




